{
  "env": {
    "development": {
      "presets": ["es2015-loose-rollup"]
    },
    "production": {
      "presets": ["es2015-loose-rollup"]
    },
    "test": {
      "presets": ["es2015-loose"]
    }
  }
}
