body {
  font: 400 8pt/1.6 'Monaco', monospace;
}

/* ids because we reference these elements in JS and I'm lazy */

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

#textarea, #output {
  box-sizing: border-box;
  flex-basis: 50%;
  padding: 6em;
  overflow-y: scroll;
}

#divider {
  position: relative; /* so it appears above the textarea and output */
  width: 10px;
  margin: 0 -5px;
  background: linear-gradient(to left, transparent, 45%, #ccc 0%, 55%, transparent 0%);
  cursor: ew-resize;
}

#textarea {
  font: inherit;
  border: 0;
  margin: 0;
  resize: none;
  outline: none;
}

.error {
  display: block;
  /* Note line-height (and therefore height) is 1.6em */
  /* Position such that this won't move the JSON content when inserted */
  margin: -2.6em 0 1em;
  color: #DA4453;
  text-decoration: none;
  animation: fade-in 0.2s;
}

.error:hover {
  text-decoration: underline;
  cursor: pointer;
}

.remaining-text {
  margin: 1em 0;
  color: #839496;
}

.contents {
  display: block;
  padding-left: 4ch;
  border-left: 1px solid transparent;
  border-radius: 2ch 0 0 2ch / 100% 0 0 100%;
  margin-left: -1px;
  transition: 0.08s all ease-out;
}

.hidden > .contents {
  display: none;
}

.collapse {
  display: none;
}

.hidden > .collapse {
  display: inline;
  padding-right: 1ch; /* to match .start */
}

.value {
  display: block;
}

.string {
  color: #859900;
}

.number {
  color: #d33682;
}

.boolean {
  color: #b58900;
}

.null {
  color: #839496;
  font-style: italic;
}

.key {
  color: #002b36;
}

.key.overwritten {
  text-decoration: line-through;
}

.colon {
  color: black;
}

.array {
  color: #dc322f;
}

.object {
  color: #268bd2;
}

.separator {
  color: #657b83;
}

.start {
  padding-right: 1ch; /* increase hit-target and make empty array/objects look better */
  cursor: pointer;
}

.start:hover, .start:hover ~ .end,
.start:active, .start:active ~ .end {
  font-weight: bold;
}

.start:hover + .contents,
.start:active + .contents {
  border-color: currentColor;
  opacity: 0.5;
}

.start:hover + .contents *,
.start:active + .contents * {
  color: inherit;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 10pt;
  }

  #container {
    flex-direction: column;
  }

  #textarea, #output {
    padding: 3em;
  }

  #divider {
    width: auto;
    height: 50px;
    margin: -25px 0;
    background: linear-gradient(to bottom, transparent, 49%, #ccc 0%, 51%, transparent 0%);
    cursor: ns-resize;
  }

  .error {
    margin-top: 0; /* It interferes with resizing */
  }
}
