body {
  font: 400 8pt/1.6 'Monaco', monospace;
}

/* ids because we reference these elements in JS and I'm lazy */
#error {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 1em;
  background: #DA4453;
  color: white;
  text-decoration: none;
  z-index: 1;
}

#error:hover,
#error:active {
  text-decoration: underline;
}

#error.visible {
  display: block;
  animation: fade-in 0.3s ease-out;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
}

#textarea, #output {
  box-sizing: border-box;
  width: 50%;
  padding: 6em;
  overflow-y: scroll;
}

#divider {
  position: relative; /* so it appears above the textarea and output */
  width: 10px;
  margin: 0 -5px;
  background: linear-gradient(to left, transparent, 45%, #ccc 0%, 55%, transparent 0%);
  cursor: ew-resize;
}

#textarea {
  font: inherit;
  border: 0;
  margin: 0;
  resize: none;
  outline: none;
}

.error {
  margin: 2em 0 1em;
}

.remaining-text {
  margin: 1em 0;
  color: #839496;
}

.contents {
  display: block;
  padding-left: 4ch;
  border-left: 1px solid transparent;
  border-radius: 2ch 0 0 2ch / 100% 0 0 100%;
  margin-left: -1px;
  transition: 0.08s all ease-out;
}

.hidden > .contents {
  display: none;
}

.collapse {
  display: none;
}

.hidden > .collapse {
  display: inline;
  padding-right: 1ch; /* to match .start */
}

.value {
  display: block;
}

.string {
  color: #859900;
}

.number {
  color: #d33682;
}

.boolean {
  color: #b58900;
}

.null {
  color: #839496;
  font-style: italic;
}

.key {
  color: #002b36;
}

.colon {
  color: black;
}

.array {
  color: #dc322f;
}

.object {
  color: #268bd2;
}

.separator {
  color: #657b83;
}

.start {
  padding-right: 1ch; /* increase hit-target and make empty array/objects look better */
  cursor: pointer;
}

.start:hover, .start:hover ~ .end,
.start:active, .start:active ~ .end {
  font-weight: bold;
}

.start:hover + .contents,
.start:active + .contents {
  border-color: currentColor;
  opacity: 0.5;
}

.start:hover + .contents *,
.start:active + .contents * {
  color: inherit;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
}
